In [ ]:
#biodata
name = input("enter your name: ")
age = int(input("enter your age: "))
city = input("enter your city: ")
gender = input("enter your gender: ")
nationality = input("enter your nationality: ")

enter your name: N Deepika
enter your age: 18
enter your city: Hyderabad
enter your gender: Female
enter your nationality: Indian

In [ ]:
#numbers divisible by 7 and multiples of 5 between 1500 and 2700
n = []
for i in range(1499, 2701):
    if(i % 7==0 and i % 5 == 0):
        n.append(str(i))
print(','.join(n))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
#wap to enter the marks of 5 sub.Compute total and average
s1 = int(input())
s2 = int(input())
s3 = int(input())
s4 = int(input())
s5 = int(input())

tot = s1+s2+s3+s4+s5
print("Total marks: ",tot)
avg = tot / 5
print("Average: ", avg)

90
78
96
85
70
Total marks:  419
Average:  83.8

In [ ]:
#calculator using chained conditionals
a = int(input("Enter the first number: " ))
b = int(input("Enter the second number: "))
operator = input("Enter the type of operator: ")
if operator == "+":
    print(a + b)
elif operator == "-":
    print(a - b)
elif operator == "*":
    print(a * b)
elif operator == "/":
    print(a / b)
elif operator == "//":
    print(a // b)
elif operator == "%":
    print(a % b)

Enter the first number: 6
Enter the second number: 9
Enter the type of operator: %
6

In [ ]:
# square of a number and square root
n = int(input())
print(n**2)  #square of a number
sqr_root = n ** 0.5
print(sqr_root)

56
3136
7.483314773547883

In [ ]:
# printing grades based on marks
marks = int(input("enter the marks: "))
if(marks >= 90):
    print("Grade: A")
elif(marks <= 89 and marks > 70):
    print("Grade: B")
elif(marks <= 69 and marks > 50):
    print("Grade: C")
else:
    print("Fail")

enter the marks: 84
Grade: B

In [ ]:
# leap year or not
year = int(input("year: "))
if(year % 400 == 0 and year % 100 == 0):
    print("{0} is a leap year" .format(year))
elif(year % 4 == 0 and year % 100!= 0):
    print("{0} is a leap year ".format(year))
else:
    print("{0} is not a leap year" . format(year))

year: 2025
2025 is not a leap year

In [ ]:
#greatest among three numbers
n1 = int(input("enter the first number: "))
n2 = int(input("enter the second number: "))
n3 = int(input("enter the third number: "))
if(n1 > n2 and n1 > n3):
    print("{0} is greater" .format(n1))
elif(n2 > n1 and n2 > n3):
    print("{0} is greater" .format(n2))
else:
    print("{0} is greater". format(n3))

enter the first number: 78
enter the second number: 45
enter the third number: 90
90 is greater

In [3]:
#triangle types
x = int(input("side 1: "))
y = int(input("side 2: "))
z = int(input("side 3: "))
if x == y == z:
        print("Equilateral Triangle")
elif x == y or y == z or z == x:
        print("Isosceles Triangle")
else:
        print("Scalene Triangle")

side 1: 5
side 2: 9
side 3: 5
Isosceles Triangle

In [7]:
# swapping of numbers
a = int(input())
b = int(input())
a = a + b
b = a - b
a = a - b
print("a: ",a)
print("b: ",b)

4
6
a:  6
b:  4

In [9]:
#area of triangle using heron's formula
a = int(input("enter first side: "))
b = int(input("enter second side: "))
c = int(input("enter third side: "))
s = (a + b + c)/2
area = s*((s-a)*(s-b)*(s-c))
print(area)

enter first side: 3
enter second side: 6
enter third side: 7
80.0

In [25]:
n = int(input("enter number: "))
for i in range(1, n+1):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(str(i))

enter number: 10
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

In [30]:
def triangle(a, b, c):
    sa = a ** 2
    sb = b ** 2
    sc = c ** 2
    if (sa == sc + sb or sb == sa+sc or sc == sa+sb):
        print("Right-angled triangle")
    elif (sa > sc + sb or sb > sa+sc or sc > sa+sb):
        print("Obtuse-angled triangle")
    else:
        print("Acute-angled triangle")

a = int(input("Enter side a: "))
b = int(input("Enter side b: "))
c = int(input("Enter side c: "))
triangle(a, b, c)

Enter side a: 12
Enter side b: 7
Enter side c: 9
Obtuse-angled triangle