In [ ]:
#convert radians to degrees
import math
def rad_to_deg(radian):
    degree = radian * (180 / math.pi)
    return degree
radian = int(input("enter the angle in radians: "))
res = rad_to_deg(radian)
print(f"{radian} is equal to {res}")

enter the angle in radians: 20
20 is equal to 1145.9155902616465

In [ ]:
#sort a list
def sort_num(num, order):
    if order == "asc":
        return sorted(num)
    elif order == "desc":
        return sorted(num, reverse=True)
    elif order == "none":
        return num
    else:
        return "Invalid order"

numbers_list = [2,9,1,90,7,5,10,]
sorted_list_asc = sort_num(numbers_list, "asc")
print(sorted_list_asc)
sorted_list_desc = sort_num(numbers_list, "desc")
print(sorted_list_desc)
original_list = sort_num(numbers_list, "none")
print(original_list)

[1, 2, 5, 7, 9, 10, 90]
[90, 10, 9, 7, 5, 2, 1]
[2, 9, 1, 90, 7, 5, 10]

In [ ]:
#convert decimal to binary
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

decimal = int(input("enter decimal number: "))
convertToBinary(decimal)
print()

enter decimal number: 46
101110

In [ ]:
#counting vowels in a string
def count(vowel):
    vowels = ['a' , 'e', 'i', 'o', 'u']
    count = 0
    for i in vowel:
        if i in vowels:
            count += 1
    return count
n = input("enter a string: ")
result = count(n)
print(result)

enter a string: india is my country
6

In [ ]:
def credit_card_number(card_number):

    if len(card_number) < 4:
        return "Invalid number"

    hidden_part = '*' * (len(card_number) - 4)
    visible_part = card_number[-4:]

    return hidden_part + visible_part
n = input("enter credit card number: ")
hidden_number = credit_card_number(n)
print(hidden_number)

enter credit card number: 56748499333
*******9333

In [ ]:
# counting xs and os
def count_x_and_O(string):
    x = string.count('x')
    o = string.count('o')
    return x == o
string = "Xxxooox"
result = count_x_and_O(string)
print(result)

True

In [ ]:
#calculator
def calculate(x, operator, y):
    if operator == '+':
        return x + y
    elif operator == '-':
        return x - y
    elif operator == '/':
        return x / y
    elif operator == '*':
        return x * y
    else:
        return "Error: Invalid operator"

result = calculate(6, '*', 4)
print(result)

24

In [ ]:
#give me the discount
def calculate_discount(original, discount):
    total = original -(original * discount/100)
    return total
n = int(input("enter the price: "))
discount = int(input("enter the discount: "))
total_price = calculate_discount(n, discount)
print(total_price)

enter the price: 100
enter the discount: 20
80.0

In [ ]:
#returning only nonnegative integers from list of mixed items
def items(integers):
    result = []
    for element in integers:
        if isinstance(element, int) and element > 0:
            result.append(element)
    return result
list1 = ["apple", 4, -5, 9,"kiwi", 7]
res = items(list1)
print(res)

[4, 9, 7]

In [ ]:
#Create a Python function that accepts a string. The function should return a string, with each character in the original string doubled.
def string(character):
    res = " "
    for char in character:
        res += char * 2
    return res
n = input("enter a string: ")
result = string(n)
print(result)

enter a string: cherry
 cchheerrrryy